
.buttonLogin{
 font-size: 14px;
 	font-weight: bold;
	height: 35px;
	padding: 5px 5px 5px 5px;	
	color:#fff;
	cursor:pointer;
	
		border:solid 1px #555299;
		-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
background-color: #555299;
/*
	background: -moz-linear-gradient(top, #fff 1%, #fcc814 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fff), color-stop(100%,#fcc814));
	background: -webkit-linear-gradient(top, #fff 1%,#fcc814 100%);
	background: -o-linear-gradient(top, #fff 1%,#fcc814 100%);
	background: -ms-linear-gradient(top, #fff 1%,#fcc814 100%);
	background: linear-gradient(top, #fff 1%,#fcc814 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
		*/
} 


.buttonLogin:hover,active{
	font-size: 14px;
	font-weight: bold;
	height: 35px;
	padding: 5px 5px 5px 5px;	
	color:#000;
	cursor:pointer;
	  border: 1px solid #8885c0;
	  background-color: #8885c0;
	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;

/*	background: -moz-linear-gradient(top, #fff 1%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fff), color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top, #fff 1%,#ddd 100%);
	background: -o-linear-gradient(top, #fff 1%,#ddd 100%);
	background: -ms-linear-gradient(top, #fff 1%,#ddd 100%);
	background: linear-gradient(top, #fff 1%,#ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
		*/	
}

.buttonRedial{
	
	font-size: 12px;
	font-weight: bold;
	height: 30px;
	padding: 2px 5px 2px 5px;	
	color:#fff;
	  border:solid 1px #2a70ac;
	  background-color: #2a70ac;
	  cursor: pointer;
			-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
 
	background: -moz-linear-gradient(top, #007ef7 1%, #2a70ac 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#007ef7), color-stop(100%,#2a70ac));
	background: -webkit-linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	background: -o-linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	background: -ms-linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	background: linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007ef7', endColorstr='#2a70ac',GradientType=0 );
	 
}
.buttonRedial:hover,active{
	
	font-size: 12px;
	font-weight: bold;
	height: 30px;
	padding: 2px 5px 2px 5px;	
	color:#fff;
	  border:solid 1px #2a70ac;
	  background-color: #2a70ac;
	  cursor: pointer;
			-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
 
	background: -moz-linear-gradient(top, #007ef7 1%, #2a70ac 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#007ef7), color-stop(100%,#2a70ac));
	background: -webkit-linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	background: -o-linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	background: -ms-linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	background: linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007ef7', endColorstr='#2a70ac',GradientType=0 );
	 
} 


.buttonSave{
	font-size: 12px;
	padding: 5px 5px 2px 5px;	
	color:#fff;
	  border: 1px solid #191970;
	  background-color: #191970;
	  cursor: pointer;

	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
	 
	background: -moz-linear-gradient(top, #555299 1%, #191970 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#555299), color-stop(100%,#191970));
	background: -webkit-linear-gradient(top, #555299 1%,#191970 100%);
	background: -o-linear-gradient(top, #555299 1%,#191970 100%);
	background: -ms-linear-gradient(top, #555299 1%,#191970 100%);
	background: linear-gradient(top, #555299 1%,#191970 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555299', endColorstr='#191970',GradientType=0 );
	 
}
.buttonSave:hover,active{
	font-size: 12px;
	padding: 5px 5px 2px 5px;	
	color:#fff;
	   border:solid 1px #555299;
	  background-color: #555299;
	  cursor: pointer;
			-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
 /*
	background: -moz-linear-gradient(top, #007ef7 1%, #2a70ac 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#00a65a), color-stop(100%,#2a70ac));
	background: -webkit-linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	background: -o-linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	background: -ms-linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	background: linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007ef7', endColorstr='#2a70ac',GradientType=0 );
	 */
} 

.buttonFind:hover,active{
	font-size: 12px;
	height: 30px;
	padding: 0px 5px 5px 5px;	 
	font-weight: bold; 
		color:#fff;
	  border: 1px solid #555299;
	  background-color: #555299;
	  cursor: pointer;
			-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
	background: -moz-linear-gradient(top, #555299 1%, #191970 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#555299), color-stop(100%,#191970));
	background: -webkit-linear-gradient(top, #555299 1%,#191970 100%);
	background: -o-linear-gradient(top, #555299 1%,#191970 100%);
	background: -ms-linear-gradient(top, #555299 1%,#191970 100%);
	background: linear-gradient(top, #555299 1%,#191970 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555299', endColorstr='#191970',GradientType=0 );
	 
}
.buttonFind{
 font-size: 12px;
	font-weight: bold;
height: 30px;
	padding: 0px 5px 5px 5px;	
	color:#666;
	cursor:pointer;	
 border:solid 1px #fcc814;
	  background-color: #fcc814;
	  cursor: pointer;
			-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
	
background-color: #fcc814;
background: -moz-linear-gradient(top, #fcdf7a 1%, #fcc814 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fcdf7a), color-stop(100%,#fcc814));
	background: -webkit-linear-gradient(top, #fcdf7a 1%,#fcc814 100%);
	background: -o-linear-gradient(top, #fcdf7a 1%,#fcc814 100%);
	background: -ms-linear-gradient(top, #fcdf7a 1%,#fcc814 100%);
	background: linear-gradient(top, #fcdf7a 1%,#fcc814 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcdf7a', endColorstr='#fcc814',GradientType=0 );
	
} 


.buttonGray:hover,active{
	font-size: 12px;
	height: 35px;margin: 3px;
	padding: 2px 5px 2px 5px;	
	color:#fff;
	font-weight: bold;
	cursor:pointer;
	  border: 1px solid #ddd;
	  
	  background-color:  #555299;
	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;

background: -moz-linear-gradient(top, #00a65a 1%, #008d4c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#00a65a), color-stop(100%,#008d4c));
	background: -webkit-linear-gradient(top, #00a65a 1%,#008d4c 100%);
	background: -o-linear-gradient(top, #00a65a 1%,#008d4c 100%);
	background: -ms-linear-gradient(top, #00a65a 1%,#008d4c 100%);
	background: linear-gradient(top, #00a65a 1%,#008d4c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a65a', endColorstr='#008d4c',GradientType=0 );
	 
}
.buttonGray{
 font-size: 14px;
	font-weight: bold;
height: 35px;margin: 3px;
	padding: 2px 5px 2px 5px;	
	color:#666;
	cursor:pointer;	
		border:solid 1px #ddd;
		-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
background: -moz-linear-gradient(top, #fff 1%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fff), color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top, #fff 1%,#ddd 100%);
	background: -o-linear-gradient(top, #fff 1%,#ddd 100%);
	background: -ms-linear-gradient(top, #fff 1%,#ddd 100%);
	background: linear-gradient(top, #fff 1%,#ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
 

} 

.buttonCancle{
	font-size: 12px;
	font-weight: bold;
	height: 30px;
	padding: 2px 5px 2px 5px;	
	color:#fff;
	  border:solid 1px #b50000;
	  background-color: #b50000;
	  cursor: pointer;

	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
	 
	background: -moz-linear-gradient(top, #ff0000 1%, #b50000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ff0000), color-stop(100%,#b50000));
	background: -webkit-linear-gradient(top, #ff0000 1%,#b50000 100%);
	background: -o-linear-gradient(top, #ff0000 1%,#b50000 100%);
	background: -ms-linear-gradient(top, #ff0000 1%,#b50000 100%);
	background: linear-gradient(top, #ff0000 1%,#b50000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#b50000',GradientType=0 );
	 
}
.buttonCancle:hover,active{
	font-size: 12px;
	font-weight: bold;
	height: 30px;
	padding: 2px 5px 2px 5px;	
	color:#fff;
	  border:solid 1px #b50000;
	  background-color: #b50000;
	  cursor: pointer;

	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
	 
	background: -moz-linear-gradient(top, #ff0000 1%, #b50000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ff0000), color-stop(100%,#b50000));
	background: -webkit-linear-gradient(top, #ff0000 1%,#b50000 100%);
	background: -o-linear-gradient(top, #ff0000 1%,#b50000 100%);
	background: -ms-linear-gradient(top, #ff0000 1%,#b50000 100%);
	background: linear-gradient(top, #ff0000 1%,#b50000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#b50000',GradientType=0 );
	 
} 


.buttonDisable:hover,active{
	 
 font-size: 12px;
	font-weight: bold;
height: 35px;margin: 3px;
	padding: 2px 5px 2px 5px;	
	color:#666;
	cursor:pointer;	
		border:solid 1px #ddd;
		-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
background: -moz-linear-gradient(top, #fff 1%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fff), color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top, #fff 1%,#ddd 100%);
	background: -o-linear-gradient(top, #fff 1%,#ddd 100%);
	background: -ms-linear-gradient(top, #fff 1%,#ddd 100%);
	background: linear-gradient(top, #fff 1%,#ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
 
}
.buttonDisable{
 font-size: 12px;
	font-weight: bold;
height: 35px;margin: 3px;
	padding: 2px 5px 2px 5px;	
	color:#666;
	cursor:pointer;	
		border:solid 1px #ddd;
		-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
background: -moz-linear-gradient(top, #fff 1%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fff), color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top, #fff 1%,#ddd 100%);
	background: -o-linear-gradient(top, #fff 1%,#ddd 100%);
	background: -ms-linear-gradient(top, #fff 1%,#ddd 100%);
	background: linear-gradient(top, #fff 1%,#ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
 

} 


.buttonMenu{
	font-size: 12px;
	height: 30px;margin: 3px;
	padding: 8px 5px 8px 5px;	
	color:#363636;
	cursor:pointer;
	  border:solid 1px #ddd;
	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;

	background: -moz-linear-gradient(top, #fff 1%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fff), color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top, #fff 1%,#ddd 100%);
	background: -o-linear-gradient(top, #fff 1%,#ddd 100%);
	background: -ms-linear-gradient(top, #fff 1%,#ddd 100%);
	background: linear-gradient(top, #fff 1%,#ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
			
}
.buttonMenu:hover,active{
 	font-size: 14px;
	height: 30px;margin: 3px;
	padding: 8px 5px 8px 5px;
	color: #fff;
	  border:solid 1px #00a65a;
	  background-color: #00a65a;
		-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
 	background: -moz-linear-gradient(top, #00a65a 1%, #008d4c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#00a65a), color-stop(100%,#008d4c));
	background: -webkit-linear-gradient(top, #00a65a 1%,#008d4c 100%);
	background: -o-linear-gradient(top, #00a65a 1%,#008d4c 100%);
	background: -ms-linear-gradient(top, #00a65a 1%,#008d4c 100%);
	background: linear-gradient(top, #00a65a 1%,#008d4c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a65a', endColorstr='#008d4c',GradientType=0 );
	 
} 

.buttonMenuA{	
	font-size: 14px;
		height: 35px;margin: 3px;
	padding: 8px 5px 8px 5px;	
	color:#fff;
	  border:solid 1px #2a70ac;
	  background-color: #2a70ac;
	  cursor: pointer;
			-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
 
	background: -moz-linear-gradient(top, #007ef7 1%, #2a70ac 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#00a65a), color-stop(100%,#2a70ac));
	background: -webkit-linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	background: -o-linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	background: -ms-linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	background: linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007ef7', endColorstr='#2a70ac',GradientType=0 );
	 
}
.buttonMenuA:hover,active{
	font-size: 14px;
	height: 35px;margin: 3px;
	padding: 8px 5px 8px 5px;	
	color:#fff;
	  border: 1px solid #007ef7;
	  background-color: #007ef7;
	  cursor: pointer;
			-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
 
 
} 


.buttonMenuB{	
	font-size: 14px;
	height: 35px;
	margin: 3px;
	padding: 8px 5px 8px 5px;	
	color:#363636;
	  border:solid 1px #fcc814;
	  background-color: #fcc814;
	  cursor: pointer;
			-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
	
background-color: #fcc814;
background: -moz-linear-gradient(top, #fcdf7a 1%, #fcc814 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fcdf7a), color-stop(100%,#fcc814));
	background: -webkit-linear-gradient(top, #fcdf7a 1%,#fcc814 100%);
	background: -o-linear-gradient(top, #fcdf7a 1%,#fcc814 100%);
	background: -ms-linear-gradient(top, #fcdf7a 1%,#fcc814 100%);
	background: linear-gradient(top, #fcdf7a 1%,#fcc814 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcdf7a', endColorstr='#fcc814',GradientType=0 );
	
}
.buttonMenuB:hover,active{
	font-size: 14px;
		height: 35px;
	margin: 3px;
	padding: 8px 5px 8px 5px;	
	color:#fff;
	  border: 1px solid #2a70ac;
	  background-color: #2a70ac;
	  cursor: pointer;
			-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
 background: -moz-linear-gradient(top, #007ef7 1%, #2a70ac 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#00a65a), color-stop(100%,#2a70ac));
	background: -webkit-linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	background: -o-linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	background: -ms-linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	background: linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007ef7', endColorstr='#2a70ac',GradientType=0 );
	 
} 


.buttonMenuC{
font-size: 14px;
	height: 35px;margin: 3px;
	padding: 8px 5px 8px 5px;	
	color:#fff;
	  border:solid 1px #008d4c;
	  background-color: #008d4c;
	  cursor: pointer;

	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
	 
	background: -moz-linear-gradient(top, #00a65a 1%, #008d4c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#00a65a), color-stop(100%,#008d4c));
	background: -webkit-linear-gradient(top, #00a65a 1%,#008d4c 100%);
	background: -o-linear-gradient(top, #00a65a 1%,#008d4c 100%);
	background: -ms-linear-gradient(top, #00a65a 1%,#008d4c 100%);
	background: linear-gradient(top, #00a65a 1%,#008d4c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a65a', endColorstr='#008d4c',GradientType=0 );
	 
}
.buttonMenuC:hover,active{
font-size: 14px;
	height: 35px;margin: 3px;
	padding: 8px 5px 8px 5px;	
	color:#fff;
	  border:solid 1px #2a70ac;
	  background-color: #2a70ac;
	  cursor: pointer;
			-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
 
	background: -moz-linear-gradient(top, #007ef7 1%, #2a70ac 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#00a65a), color-stop(100%,#2a70ac));
	background: -webkit-linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	background: -o-linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	background: -ms-linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	background: linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007ef7', endColorstr='#2a70ac',GradientType=0 );
	 
} 
