
.dc_table_s1,.dc_table_s1 th{border: 1px solid #556652;border-collapse:collapse}
.dc_table_s1 caption{caption-side:top;font-size:11px;margin:0 0 5px;padding:0;}
.dc_table_s1 td,.dc_table_s1 th{padding: 2px 5px;}
.dc_table_s1 thead th{background: #d5ffce;color: #556652;font-size:100% !important; text-align: center;}
.dc_table_s1 tbody th{font-weight:bold;}
.dc_table_s1 tbody tr{background:#FCFDFE}
.dc_table_s1 tbody tr.odd{background:#F7F9FC}
.dc_table_s1 tfoot th,.dc_table_s1 tfoot td{font-size:85%}


.dc_table_s2{border-collapse:collapse;border-right:1px solid #e5eff8;border-top:1px solid #e5eff8;margin:0;padding:0}.dc_table_s2 caption{caption-side:top;font-size:11px;font-style:italic;margin:0 0 5px;padding:0;text-align:right}.dc_table_s2 tr.odd td{background:#f7fbff}.dc_table_s2 tr.odd .column1{background:#f4f9fe}.dc_table_s2 .column1{background:#f9fcfe}.dc_table_s2 th{border-bottom:1px solid #e5eff8;border-left:1px solid #e5eff8;font-weight:normal;padding:.3em 1em;text-align:left}.dc_table_s2 td{border-bottom:1px solid #e5eff8;border-left:1px solid #e5eff8;padding:.3em 1em;text-align:center}.dc_table_s2 thead th{background:#f4f9fe;font-size:1.2em;font-weight:bold;line-height:2em;text-align:center}.dc_table_s2 tfoot th{background:#f4f9fe;text-align:center}.dc_table_s2 tfoot th strong{font-size:1.2em;font-weight:bold;margin:.5em .5em .5em 0}.dc_table_s2 tfoot th em{color:#f03b58;font-size:1.1em;font-style:normal;font-weight:bold}

.dc_table_s3,.dc_table_s3 th{border: 1px solid #556652;border-collapse:collapse}
.dc_table_s3 caption{caption-side:top;font-size:11px;margin:0 0 5px;padding:0;}
.dc_table_s3 td,.dc_table_s3 th{padding: 2px 5px;}

.dc_table_s3 thead th{background: #d5ffce;color: #556652;font-size:100% !important; text-align: center;}
.dc_table_s3 tbody th{font-weight:bold;}
.dc_table_s3 tbody tr{background:#FCFDFE}
.dc_table_s3 tbody tr.odd{background:#F7F9FC}
.dc_table_s3 tfoot th,.dc_table_s3 tfoot td{font-size:85%}

.dc_table_s3 td{border:none;}

.dc_table_s4,.dc_table_s4 td{border:1px solid #CCC;border-collapse:collapse}
.dc_table_s4{border:1px solid #CCC;border:none}.dc_table_s4 thead th,.dc_table_s4 tbody th{background:#FFF url(../images/th_bck.gif) repeat-x;border:1px solid #CCC;color:#666;padding:5px 10px}.dc_table_s4 tbody th{background:#fafafb;border-top:1px solid #CCC;font-weight:normal;text-align:left}.dc_table_s4 tbody tr td{color:#666;padding:5px 10px}.dc_table_s4 tbody tr:hover{background:#FFF url(../images/tr_bck.gif) repeat}.dc_table_s4 tbody tr:hover td{color:#454545}.dc_table_s4 tfoot td,.dc_table_s4 tfoot th{background:#FFF url(../images/foot_bck.gif) repeat;border-left:none;border:1px solid #CCC;color:#666;padding:4px}.dc_table_s4 caption{color:#666;font-size:120%;padding:10px 0;text-align:left}.dc_table_s4 table a:link{color:#666}.dc_table_s4 table a:visited{color:#666}.dc_table_s4 table a:hover{color:#003366;text-decoration:none}.dc_table_s4 table a:active{color:#003366}.dc_table_s5{background:#fff;border:2px solid #000;border-collapse:collapse;color:#555}.dc_table_s5 td,.dc_table_s5 th{border:1px dotted #bbb;padding:.5em}.dc_table_s5 caption{background:transparent;color:#333;font-size:1.4em;font-weight:bold;padding:0 0 .5em 0;text-align:left;text-transform:uppercase}.dc_table_s5 a{background:transparent;font-weight:bold;padding:1px;text-decoration:none}.dc_table_s5 a:link{border-bottom:1px dashed #ddd;color:#000}.dc_table_s5 table a:visited{border-bottom:1px dashed #ccc;color:#808080;text-decoration:line-through}.dc_table_s5 table a:hover{border-bottom:1px dashed #bbb;color:#666}.dc_table_s5 thead th,.dc_table_s5 tfoot th{background:transparent;border:2px solid #000;color:#333;font-size:1.2em;font-weight:bold;text-align:left}.dc_table_s5 tfoot td{border:2px solid #000}.dc_table_s5 tbody th,.dc_table_s5 tbody td{text-align:left;vertical-align:top}.dc_table_s5 tbody th{white-space:nowrap}.dc_table_s5 .odd{background:#fcfcfc}.dc_table_s5 tbody tr:hover{background:#fafafa}.dc_table_s6{border-collapse:collapse;text-align:left}.dc_table_s6 caption{border-bottom:6px solid #000;color:#000000;font-size:1.4em;font-weight:bolder;padding-bottom:4px;text-align:left;text-transform:uppercase}.dc_table_s6 thead tr th{border-bottom:3px solid #000;color:#0099ff;padding:0.4em 0;text-align:left;text-transform:uppercase}.dc_table_s6 tfoot th,.dc_table_s6 tfoot td{border-top:3px solid #000}.dc_table_s6 tr td,.dc_table_s6 tr th{border-bottom:1px solid #000;line-height:1.5em;padding:0.6em 0.4em}.dc_table_s6 tr.odd td,.dc_table_s6 tr.odd th{}.dc_table_s6 tbody th a{text-transform:uppercase}.dc_table_s6 tbody a,.dc_table_s6 tbody a:link{color:#0099ff;font-weight:bold;text-decoration:none}.dc_table_s6 tbody a:visited{color:#000}.dc_table_s7{border-collapse:collapse;margin:0;padding:0;width:100%}.dc_table_s7 caption{color:#F06;font-size:1.5em;text-align:left}.dc_table_s7 td,.dc_table_s7 th{border-bottom:1px solid #EEE;padding:10px 4px}.dc_table_s7 td+td{border-left:1px solid #FAFAFA;color:#999}.dc_table_s7 td+td+td{border-left:none;color:#666}.dc_table_s7 td a{color:#444;text-align:left;text-decoration:none}.dc_table_s7 td a,.dc_table_s7 th a{display:block;width:100%}.dc_table_s7 td a:hover{background:#444;color:#FFF}.dc_table_s7 tfoot th{text-align:right}.dc_table_s7 th{text-align:left}.dc_table_s7 th+th{text-align:left}.dc_table_s7 th+th+th{text-align:left}.dc_table_s7 th a{color:#F06;font-size:1.1em;text-decoration:none}.dc_table_s7 th a:visited{color:#F69}.dc_table_s7 th a:hover{color:#F06;text-decoration:underline}.dc_table_s7 thead tr,.dc_table_s7 tfoot tr{color:#555;font-size:0.8em}.dc_table_s7 tr{background:url(../images/prettyinpink_row.png) repeat-x #F8F8F8;color:#666}.dc_table_s7 tr:hover{background:#FFF}.dc_table_s8{background-color:#fff;border-collapse:collapse;width:100%}.dc_table_s8 caption{color:#1ba6b2;font-size:1.4em;font-weight:bold;margin-bottom:2px;padding:10px;text-align:left}.dc_table_s8 thead th{background-color:#a3c159;border-right:1px solid #fff;color:#fff;font-weight:normal;height:25px;padding:2px;text-align:center;text-transform:uppercase}.dc_table_s8 tfoot{border-top:6px solid #e9f7f6;color:#1ba6b2;font-size:1.2em;font-weigth:bold;margin-top:6px;padding:2px;text-transform:uppercase}.dc_table_s8 tbody tr{background-color:#fff;border-bottom:1px solid #f0f0f0}.dc_table_s8 tbody td{color:#414141;padding:5px;text-align:left}.dc_table_s8 tbody th{padding:2px;text-align:left}.dc_table_s8 tbody td a,.dc_table_s8 tbody th a{color:#6C8C37;display:block;font-weight:normal;padding-left:15px;text-decoration:none}.dc_table_s8 tbody td a:hover,.dc_table_s8 tbody th a:hover{color:#009193;text-decoration:none}.dc_table_s9{border-collapse:collapse;color:#7F7F7F}.dc_table_s9,.dc_table_s9 caption{border-left:1px solid #CCC;border-right:1px solid #CCC}.dc_table_s9 caption,.dc_table_s9 th,.dc_table_s9 td{border-left:0;padding:10px}.dc_table_s9 caption,.dc_table_s9 thead th,.dc_table_s9 tfoot th,.dc_table_s9 tfoot td{background-color:#E63C1E;color:#FFF;font-weight:bold;text-transform:uppercase}.dc_table_s9 thead th{background-color:#C30;color:#FFB3A6;text-align:center}.dc_table_s9 tbody th{padding:20px 10px}.dc_table_s9 tbody tr.odd{background-color:#F7F7F7;color:#666}.dc_table_s9 tbody a{border-bottom:1px dotted #E63C1E;color:#333;padding:1px 2px;text-decoration:none}.dc_table_s9 tbody a:active,.dc_table_s9 tbody a:hover,.dc_table_s9 tbody a:focus,.dc_table_s9 tbody a:visited{color:#666}.dc_table_s9 tbody tr:hover{background-color:#EEE;color:#333}.dc_table_s9 tbody tr:hover a{background-color:#FFF}.dc_table_s9 tbody td+td+td+td a{border-bottom:0;color:#C30;font-weight:bold}.dc_table_s9 tbody td+td+td+td a:active,.dc_table_s9 tbody td+td+td+td a:hover,.dc_table_s9 tbody td+td+td+td a:focus,.dc_table_s9 tbody td+td+td+td a:visited{color:#E63C1E}.dc_table_s10{background:#641B35;border:1px solid #38160C;border-collapse:collapse;color:#F6ECF0}.dc_table_s10 caption{background:transparent;color:#B85A7C;text-align:left}.dc_table_s10 td,.dc_table_s10 th{border:1px dashed #B85A7C;color:#F6ECF0;padding:.8em}.dc_table_s10 thead th,.dc_table_s10 tfoot th{background:#38160C;border:1px solid #A85070;color:#F6ECF0;font-weight:bold;padding-top:6px;text-align:left}.dc_table_s10 tbody td a{background:transparent;color:#F6ECF0;text-decoration:none}.dc_table_s10 tbody td a:hover{background:transparent;color:#FFFFFF}.dc_table_s10 tbody th a{background:transparent;color:#F6ECF0;font-weight:normal;text-decoration:none}.dc_table_s10 tbody th a:hover{background:transparent;color:#FFFFFF}.dc_table_s10 tbody th,.dc_table_s10 tbody td{text-align:left;vertical-align:top}.dc_table_s10 tfoot td{background:#38160C;border:1px solid #38160C;padding-top:6px}.dc_table_s10 .odd{background:#7B2342}.dc_table_s10 tbody tr:hover{background:#51152A}.dc_table_s10 tbody tr:hover th,.dc_table_s10 tbody tr.odd:hover th{background:#51152A}.dc_table_s11{background:#f6f6f6;border:1px solid #666;border-collapse:collapse;color:#363636;text-align:left}.dc_table_s11 caption{background:transparent;color:#333;font-size:16px;font-weight:bold;padding:6px 4px 8px 0px;text-align:center;text-transform:uppercase}.dc_table_s11 thead,.dc_table_s11 tfoot{background:url(../images/table_s11.png) repeat-x;height:30px;text-align:left}.dc_table_s11 thead th,.dc_table_s11 tfoot th{padding:5px}.dc_table_s11 a{color:#333;text-decoration:none}.dc_table_s11 a:hover{text-decoration:underline}.dc_table_s11 tr.odd{background:#f1f1f1}.dc_table_s11 tbody th,.dc_table_s11 tbody td{padding:5px}.dc_table_s12{background:#F3F5F7;border-collapse:collapse;color:#333;margin:0;padding:0}.dc_table_s12 a{border-bottom:1px solid #C6C8CB;color:#3A4856;text-decoration:none}.dc_table_s12 a:visited{color:#777}.dc_table_s12 a:hover{color:#000}.dc_table_s12 caption{font-size:1.6em;padding-bottom:10px;text-align:left;text-transform:uppercase}.dc_table_s12 thead th{background:#3A4856;color:#fff;font-weight:normal;padding:15px 10px;text-align:left}.dc_table_s12 tbody,.dc_table_s12 thead{border-left:1px solid #EAECEE;border-right:1px solid #EAECEE}.dc_table_s12 tbody{border-bottom:1px solid #EAECEE}.dc_table_s12 tbody td,.dc_table_s12 tbody th{background:url("../images/table_s12.gif") repeat-x;padding:10px;text-align:left}.dc_table_s12 tbody tr{background:#F3F5F7}.dc_table_s12 tbody tr.odd{background:#F0F2F4}.dc_table_s12 tbody tr:hover{background:#EAECEE;color:#111}.dc_table_s12 tfoot td,.dc_table_s12 tfoot th,.dc_table_s12 tfoot tr{background:#fff;font:1.2em;padding:10px;text-align:left;text-transform:uppercase}.dc_table_s13{background:#D3E4E5;border:1px solid gray;border-collapse:collapse;color:#fff}.dc_table_s13 caption{border:1px solid #5C443A;color:#5C443A;font-weight:bold;letter-spacing:8px;padding:6px 4px 8px 0px;text-align:center;text-transform:uppercase}.dc_table_s13 td,.dc_table_s13 th{color:#363636;padding:.4em}.dc_table_s13 tr{border:1px dotted gray}.dc_table_s13 thead th,.dc_table_s13 tfoot th{background:#5C443A;color:#FFFFFF;padding:3px 10px 3px 10px;text-align:left;text-transform:uppercase}.dc_table_s13 tbody td a{color:#363636;text-decoration:none}.dc_table_s13 tbody td a:visited{color:gray;text-decoration:line-through}.dc_table_s13 tbody td a:hover{text-decoration:underline}.dc_table_s13 tbody th a{color:#363636;font-weight:normal;text-decoration:none}.dc_table_s13 tbody th a:hover{color:#363636}.dc_table_s13 tbody td+td+td+td a{background-image:url('../images/table_s12a.png');background-position:left center;background-repeat:no-repeat;color:#03476F;padding-left:15px}.dc_table_s13 tbody td+td+td+td a:visited{background-image:url('../images/table_s12b.png');background-position:left center;background-repeat:no-repeat}.dc_table_s13 tbody th,.dc_table_s13 tbody td{text-align:left;vertical-align:top}.dc_table_s13 tfoot td{background:#5C443A;color:#FFFFFF;padding-top:3px}.dc_table_s13 .odd{background:#fff}.dc_table_s13 tbody tr:hover{background:#99BCBF;border:1px solid #03476F;color:#000000}