
#menu-nav{position:relative;
	text-transform: none;
	background: url(../images/menu-bar.jpg) repeat-x top left; 
	height: 36px;
font-size: 14px;font-weight: normal; 
	font-family: Geneva, Arial, Helvetica,Tahama, sans-serif;	}
#menu-nav ul{margin:0;padding:0;list-style-type:none;width:auto;float:left;}
#menu-nav ul li{display:block;float:left;margin: 0 0px;}
#menu-nav ul li a{display:block;float:left;color: #fff;text-decoration:none;padding:0 0 0 15px;
	height:36px;line-height:36px;
	background: url(../images/menu-bar.jpg) repeat-x top left; 
	}
#menu-nav ul li a span{display:block;float:left;padding:0 15px 0 0;height:25px;width:auto;}
#menu-nav ul li a:hover{color:#5b9207;background:#fff url("../images/menu-nav-h.jpg") repeat-x bottom left;}
#menu-nav ul li a:hover span{display:block;cursor:pointer;}
#menu-nav ul li a.current,
#menu-nav ul li a.current:hover{
	color:#5b9207;background:#fff url("../images/menu-nav-h.jpg") repeat-x bottom left;}
#menu-nav ul li a.current span{
	background:transparent url("images/right_on.png") no-repeat top right;height:36px;}


.menu1 {padding:0 0 0 0px; margin: 0px 0px 0px 0px; list-style:none; height:21px; width:98%;}
.menu1 li {float:left;}
.menu1 li a {display:block; float:left; height:21px; line-height:21px; color:#666; 
text-decoration:none; font-size: 12px; font-family: Geneva, Arial, Helvetica,Tahama, sans-serif; 
font-weight: normal; text-align:center; padding: 0px 10px 0px 10px; cursor:pointer;}
.menu1 li a.current{color:#5b9207; font-weight: bold; }
.menu1 li a:hover {color:#5b9207; }
.menu1 li.current a:hover {color:#fff; cursor:default;}

.submenu-bar{	
	height: 25px;	
	width:100%;
	background: #f2f2f2;
}
